body {
    background-color: lightcoral;
}


.caja1 {
    margin-top: 1cm;
    background-image: url("img.jpg");
    background-size: 100%;
    width: 200px;
    height: 200px;
    border: 2px inset purple;
    margin-bottom: 1cm;
}

.caja2 {
    background: green;
    width: 100%;
    height: 15%;
    border-radius: 20px;
    border: 4px solid black;
    margin-bottom: 1cm;
}

.caja3 {
    background: rgb(252, 7, 170);
    width: 110px;
    height: 17%;
    border: 5px dotted blue;
    margin-bottom: 1cm;
}

.caja4 {
    background-color: red;
    width: 110px;
    height: 17%;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: 5px dashed green;
    margin-bottom: 1cm;
    margin-left: 32cm; 
}

.caja5 {
    background: yellow;
    width: 170px;
    height: 17%;
    border: 6px double gray; 

}

.caja6 {
    background: orange;
    width: 110px;
    height: 17%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 1cm;
    margin-left: 32cm;
    border: 6px groove red;
}
